body, h1, h3, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: #b3cde0;
    color: #011f4b;
    line-height: 1.6;
}

.h1_curso {
    background-color: #03396c;
    color: white;
    text-align: center;
}

img {
    border-radius: 10px;
    border-style: solid;
    border-color: #005b96;
    margin: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-spacing: 10px;
}
table, td, tr {
    border: 1.5px solid #005b96;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.embed {
    width: auto;
}

.table_profile {
    margin: 4rem;
}

.h3_profile, .h4_profile, .p_profile {
    margin: 20px;
    color: #03396c;
}

.socialmedias {
    display: flex;
    margin: 20px;
    gap: 15px;
}

#photo-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: auto;
    margin: 20px;
}
#photo-gallery img {
    width: 333px;
    height: 333px;
    object-fit: cover;
}

#form-nova-info {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #005b96;
}

#nova-info-perfil {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #005b96;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    background-color: #e0eaf1;
}
.margem {
    margin: 2rem  ;
}

.btn-fase3 {
    background-color: #03396c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
}
.btn-fase3:hover {
    background-color: #005b96;
}

#lista-ucs li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.btn-ordem {
    background-color: transparent;
    border: 1px solid #03396c;
    color: #03396c;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px; 
    transition: all 0.2s ease-in-out;
}

.btn-ordem:hover {
    background-color: #03396c;
    color: white;
}

.texto-uc {
    margin-left: 10px;
}